<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Bold-BS4-Footer-Simple.css">
    <link rel="stylesheet" href="/css/Pretty-Login-Form.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="row login-form" style="padding: 50px;">
        <div class="col-md-4 offset-md-4" style="padding: 50px;background-color: #f7f7f7;">
            <h2 class="text-center form-heading">Login</h2>
            <form class="custom-form" th:action="@{/users/login}" th:method="POST">
                <div class="form-group">
                    <label for="username" class="font-weight-bold">Username</label>
                    <input class="form-control" id="username" type="text" placeholder="Username" name="username">
                </div>
                <div class="form-group">
                    <label for="password" class="font-weight-bold">Password</label>
                    <input class="form-control" id="password" type="password" placeholder="Password" name="password">
                </div>
                <div class="form-group">

                </div>
                <button class="btn btn-light btn-block submit-button" type="submit">Submit Form</button>
            </form>
        </div>
    </div>
    <footer id="myFooter" style="padding:0px;">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12" style="padding: 60px;">
                    <ul class="list-unstyled">
                        <li><a href="/">Back</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="/users/register">Register</a></li>
                        <li></li>
                    </ul>
                    <p class="footer-copyright">© 2020 HolidayGuru ~ Designed By&nbsp; Stavrev1</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>