<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>my profile (copy)</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/css/Card-Group-Classic.css">
    <link rel="stylesheet" href="/css/Dark-Footer-1.css">
    <link rel="stylesheet" href="/css/Dark-Footer-2.css">
    <link rel="stylesheet" href="/css/Dark-Footer.css">
    <link rel="stylesheet" href="/css/Dark-NavBar-1.css">
    <link rel="stylesheet" href="/css/Dark-NavBar-2.css">
    <link rel="stylesheet" href="/css/Dark-NavBar.css">
    <link rel="stylesheet" href="/css/Footer-Clean.css">
    <link rel="stylesheet" href="/css/footer-stavrev.css">
    <link rel="stylesheet" href="/css/LinkedIn-like-Profile-Box.css">
    <link rel="stylesheet" href="/css/nav-stavrev.css">
    <link rel="stylesheet" href="/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/css/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="/css/Responsive-Form-1.css">
    <link rel="stylesheet" href="/css/Responsive-Form.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<th:block
        th:include="~{/fragments/nav}">
</th:block>
<div class="row register-form">
    <div class="col-md-8 offset-md-2"
         style="background: url(/img/edit-profile.png) center / cover no-repeat;background-size: 50%;">
        <form class="custom-form" th:action="@{/users/profile-edit}" th:method="post" th:object="${userProfileEditBindingModel}"
              style="border-style: none;border-right-style: none;background-color: rgb(232,232,232);opacity: 0.96;">
            <h1 style="font-size: 30px;">Edit Your Profile</h1>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column">
                    <label class="col-form-label" for="username">Username</label>
                </div>
                <div class="col-sm-6 input-column">
                    <input th:value="*{username}" id="username" name="username" class="form-control" type="text" readonly>
<!--                    <th:block th:if="${#fields.hasErrors('username')}">-->
<!--                        <small class="error" th:errors="*{username}"></small>-->
<!--                    </th:block>-->
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column">
                    <label class="col-form-label" for="email">Email</label>
                </div>
                <div class="col-sm-6 input-column">
                    <input th:value="*{email}" class="form-control" id="email" name="email" type="text">
                    <th:block th:if="${#fields.hasErrors('email')}">
                        <small class="error" th:errors="*{email}"></small>
                    </th:block>
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column">
                    <label class="col-form-label" for="firstName">First Name</label>
                </div>
                <div class="col-sm-6 input-column">
                    <input th:value="*{firstName}" id="firstName" name="firstName" class="form-control" type="text">
                    <th:block th:if="${#fields.hasErrors('firstName')}">
                        <small class="error" th:errors="*{firstName}"></small>
                    </th:block>
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column">
                    <label class="col-form-label" for="lastName">Last Name</label>
                </div>
                <div class="col-sm-6 input-column">
                    <input th:value="*{secondName}" id="lastName" name="secondName" class="form-control" type="text">
                    <th:block th:if="${#fields.hasErrors('secondName')}">
                        <small class="error" th:errors="*{secondName}"></small>
                    </th:block>
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column">
                    <label class="col-form-label" for="password">Password</label>
                </div>
                <div class="col-sm-6 input-column">
                    <input   id="password" name="password" class="form-control" type="password" required>
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column">
                    <label class="col-form-label" for="newPassword">New Password</label>
                </div>
                <div class="col-sm-6 input-column">
                    <input id="newPassword" name="newPassword" class="form-control" type="password">
                    <th:block th:if="${#fields.hasErrors('newPassword')}">
                        <small class="error" th:errors="*{newPassword}"></small>
                    </th:block>
                </div>
            </div>

            <div class="form-row form-group">
                <div class="col-sm-4 label-column">
                    <label class="col-form-label" for="confirmPassword">Confirm New Password</label>
                </div>
                <div class="col-sm-6 input-column">
                    <input id="confirmPassword" name="confirmPassword" class="form-control" type="password">
                    <th:block th:if="${#fields.hasErrors('confirmPassword')}">
                        <small class="error" th:errors="*{confirmPassword}"></small>
                    </th:block>
                </div>
            </div>

            <button class="btn btn-light submit-button" type="submit" style="background-color: rgb(23,99,213);">Submit
                Form
            </button>
        </form>
    </div>
</div>
<footer>
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
<script src="/js/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/Profile-Edit-Form.js"></script>
</body>

</html>